.layout {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.url {
  text-decoration: none;
  padding: 0;
  margin: 0;
  word-break: break-all;
}

.inherit-color:visited {
  color: inherit;
}
